<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <meta http-equiv="refresh" content="2"> -->
  <title>Acumen</title>
  <link rel="stylesheet" href="/static/css/materialize.min.css">
  <link rel="stylesheet" href="/static/fonts/roboto/maticon.css">
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
      <style>
      /*table { border-collapse: collapse; }*/
      tr { border: none; }
      td {
        border-right: solid 1px #ccc;
        border-left: solid 1px #ccc;
      }
      </style>
</head>
<body>
  <div class="container">
    <div>
  <h3><b>Project Acumen</b></h3>
    <br>
  <h4>Real time monitoring of robots:</h4><br>
    </div>

    <div class="row">
      <div class="col s1">

      </div>
      <div class="col s10">

      <table class="table table-reflow bordered ">
        <thead>
          <tr>
            <th>-</th>
            <th>0</th>
            <th >1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row ">0 <br><br></th>
            <td id="(0,0)" class="z-depth-3 blue darken-1"></td>
            <td id="(0,1)"></td>
            <td id="(0,2)"></td>
            <td id="(0,3)"></td>
            <td id="(0,4)"></td>
          </tr>

          <tr>
            <th scope="row ">1 <br><br></th>
            <td id="(1,0)"></td>
            <td id="(1,1)"></td>
            <td id="(1,2)"></td>
            <td id="(1,3)"></td>
            <td id="(1,4)"></td>
          </tr>

          <tr>
            <th scope="row">2 <br><br></th>
            <td id="(2,0)"></td>
            <td id="(2,1)"></td>
            <td id="(2,2)"></td>
            <td id="(2,3)"></td>
            <td id="(2,4)" class="z-depth-3  purple lighten-1"></td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col s1">
      <a href="/sensors" class=" z-depth-3 btn-floating btn-large waves-effect waves-light red"><i class="material-icons">rss_feed</i></a>

    </div>
    </div>
      <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
      <script src="/static/js/materialize.min.js" charset="utf-8"></script>
      <script>
//

$(function() {
  startRefresh();
});

function startRefresh() {
  setTimeout(startRefresh,500);
  $.get('/blockCheck/1', function(data) {
    var coordinate = '('+data[1]+','+data[4]+')';
    console.log(coordinate);
    var c = "z-depth-3 blue darken-1";
    var elem = document.getElementById(coordinate);
    var oldelem = document.getElementsByClassName(c)[0];
    if(elem != oldelem){
      $(oldelem).removeClass(c);
      $(elem).addClass(c);
      console.log("bot 1 Updated");
    }
    else{
      console.log("bot 1 no change");
    }

  });
  $.get('/blockCheck/2', function(data) {
    var coordinate = '('+data[1]+','+data[4]+')';
    console.log(coordinate);
    var c = "z-depth-3  purple lighten-1";
    var elem = document.getElementById(coordinate);
    var oldelem = document.getElementsByClassName(c)[0];
    if(elem != oldelem){
      $(oldelem).removeClass(c);
      $(elem).addClass(c);
      console.log("bot 2 Updated");
    }
    else{
      console.log("bot 2 no change");
    }

  });
}


      </script>
</body>
</html>
